<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content paddings>
	<form [formGroup]="resetForm" (ngSubmit)="RequestResetUser(resetForm)">
    <ion-item>
      <div id="errorMsg" *ngIf="errorMessage">
        <span>{{errorMessage}}</span>
      </div>
      <div id="successMsg" *ngIf="successMessage">
          <span>{{successMessage}}</span>
      </div>
		  <ion-label position="floating">Email</ion-label>
		  <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <span *ngIf="!resetForm.get('email').valid && !IsvalidForm"class="help-block">
      Please enter a valid email!
    </span>
    <ion-button type="submit" fill="solid" expand="block" color="dark">Reset Password</ion-button>
	</form>
</ion-content>
